:root {
    --global-font-size: 16px; // ? browser default
    // --transition: cubic-bezier(.79, .14, .15, .86);
    --transition: cubic-bezier(0.08, 0, 0.58, 1.07);

    --color-primary: #1d1e2c;
    --color-primary-rgb: 29, 30, 44;
    --color-secondary: #2554a0;
    --color-secondary-rgb: 37, 84, 160;
    --color-white: #f2f4f3;
    --color-gray: #adb5bd;
}