@use '../utilities' as *;

@font-face {
    font-family: 'SourceCodePro';
    /* webpackIgnore: true */
    src: url('../../assets/font/SourceCodePro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodePro';
    /* webpackIgnore: true */
    src: url('../../assets/font/SourceCodePro.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodePro';
    /* webpackIgnore: true */
    src: url('../../assets/font/SourceCodePro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

h1, h2 { color: var(--color-white); }

h2 {
    font-size: pxToRem(20px);
    margin-bottom: .5rem;
}

p {
    font-size: pxToRem(12px);
    color: var(--color-gray);
}

.label {
    line-height: 2;
    white-space: nowrap;
    color: var(--color-white);
    padding: 0px 4px 1px 4px;
    border-radius: 3px;
    background-color: rgba(var(--color-secondary-rgb), .5);
}