@use '../utilities' as *;

.skills {
    grid-column: 3 / 5;
    grid-row: 6 / 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    height: pxToRem(300px);
    overflow-y: hidden;

    @include respond(tablet) {
        order: 3;
    }

    &--heading {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__wrapper {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        position: relative;
        overflow-y: scroll;
        scrollbar-width: none; // ? Firefox

        &::-webkit-scrollbar { width: 0; height: 0; }
    }

    &__branches {
        display: flex;
        justify-content: center;
        position: relative;
        height: pxToRem(600px);

        & > [class*='--branch'] {
            position: absolute;
            top: 0;
            color: var(--color-secondary);
            box-sizing: content-box;

            & > [class*='skill'] {
                width: 2rem;
                height: 2rem;
            }

            .skill-html5,
            .skill-css3 { transform: translate(pxToRem(-18px), pxToRem(-28px)); }

            .skill-html5 { fill: #FF5722; }
            .skill-css3 { fill: #2196F3; }
            .skill-sass {
                width: 1.5rem;
                fill: #CD6799;
                transform: translate(pxToRem(-30px), pxToRem(-95px));
            }
            .skill-bootstrap {
                width: 1.5rem;
                fill: #8B12FC;
                transform: translate(3px, pxToRem(-132px));
            }
            .skill-zurb {
                width: pxToRem(20px);
                fill: #00A6C9;
                transform: translate(pxToRem(-12px), pxToRem(-105px));
            }
        }

        &--branch-main {
            width: pxToRem(6px);
            height: 100%;
            border-radius: 5px;
            background-color: var(--color-secondary);
        }

        &--branch-html5,
        &--branch-css3 {
            border: solid 4px currentColor;
            border-color: transparent transparent currentColor currentColor;
            border-radius: 0 0 0 pxToRem(10px);
        }

        &--branch-html5 {
            width: pxToRem(110px);
            height: pxToRem(70px);
            transform: translate(pxToRem(-57px), pxToRem(85px));
        }

        &--branch-css3 {
            width: pxToRem(55px);
            height: pxToRem(35px);
            transform: translate(pxToRem(-29px), pxToRem(85px));
        }
    }













    &__front-end,
    &__back-end,
    &__bundlers,
    &__pkgmanagers {
        display: flex;
        justify-content: center;

        &--skill {
            display: none;
            width: 2rem;
            height: 2rem;
        }
    }
}